name: Check for secrets
on:
  [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Installing Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install flask
    - name: Looking for secrets
      run: |
        python3 check_secrets.py $(git ls-files "*.py")
